appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
awscli==1.19.49
botocore==1.20.49
branca==0.4.2
certifi==2020.6.20
chardet==3.0.4
click==8.0.1
colorama==0.4.3
distlib==0.3.1
Django==3.1
django-crispy-forms==1.11.2
djangorestframework==3.12.4
docutils==0.15.2
filelock==3.0.12
Flask==2.0.1
folium==0.12.1
geographiclib==1.50
geopy==2.1.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==1.7.0
inflection==0.5.1
isort==5.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
more-itertools==8.6.0
numpy==1.19.4
opencv-python==4.5.2.54
pandas==1.1.4
Pillow==8.2.0
pipenv==2020.11.15
psycopg2==2.8.6
pyasn1==0.4.8
PyJWT==1.7.1
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
Quandl==3.5.3
requests==2.24.0
rsa==4.7.2
s3transfer==0.3.6
scikit-learn==0.24.2
scipy==1.5.4
simple-http-server==0.14.9
six==1.15.0
sklearn==0.0
SpeechRecognition==3.8.1
sqlparse==0.3.1
threadpoolctl==2.1.0
toml==0.10.2
twilio==6.45.4
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.1.0
